.modalContent{
    background-color: white;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    
    left: 20vw;
    top: 20vh;
    width: 60vw; /* Full width */
    height: 60vh; /* Full height */
}

.modalContent img{
    width: 27%;
    height: 77%;
    padding: 5% 0 0 5%;
    float: left;
    display: inline-block;
}

.movieContent{
    
    display: inline-block;
    width: 60%;
    height: 80%;
    padding: 5% 0 0 4%;
    font-family: 'Quicksand','Castoro','Playfair Display','Bitter' ;
    font-size: 1.4vw;
}

.movieContent p{
    margin: 0;
    padding-top: 1vh;
}

.close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
  