.icons li a img{
    width: 1.5vw;
    height: 1.5vw;
}

.icons{
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 2vw;
    width: 100%;
    margin-top: 3vh;
    
}

.icons li{
    float:left;
    margin-left: 1.75vw;
    height: auto;
}
