.Title_bullet{
    width: 0.5vw;
    height: 3vw;
    background-color: cadetblue;
    float: left;
    margin: 0 2vw 0 0;
}

.Title{
    height: auto;
    margin: 5vh 0 3vh 0; 
    
    font-family: 'Castoro';
}

.Movies{
    padding: 0 4vw 0 4vw;
}